@{
    ViewBag.Title = "Home Page";
}


@Styles.Render("~/Content/homepage")


@{ 
    var r = new Random();
    var n = r.Next(4);
    var s = "url(/Media/images/jumbotron/Beer" + n + ".gif)";
}

<div class="jumbotron" style="background-image: @s;">
    <h1>De Bier lijst</h1>
    <p class="lead">De website om je persoonlijke stock bier bij te houden en op de hoogte te blijven wat binnenkort moet worden uitgedronken.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Laten we beginnen &raquo;</a></p>
    @{
//TODO: handleiding maken
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>