.jumbotron {    
  color: white;
  -webkit-text-stroke:   1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  background-size: cover;
}

.jumbotron > h1 {    
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p.lead {    
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}